<h1><%= @boardgame["name"] %></h1>
<p>Min Players: <%= @boardgame["min_players"] %></p> 
<p>Max Players: <%= @boardgame["max_players"] %></p> 
<p>Min Playtime: <%= @boardgame["min_playtime"] %></p> 
<p>Max Playtime: <%= @boardgame["max_playtime"] %></p>
<p>Description: <%= @boardgame["description"].html_safe %></p>
